/* line 3, ../sass/style.sass */
body {
  background-image: url("style/sky-tile.png");
}

/* line 6, ../sass/style.sass */
#body-top-bg {
  background-image: url("style/body-top-bg-tile.png");
  background-position: left top;
  background-repeat: repeat-x;
}

/* line 11, ../sass/style.sass */
#body-bottom-bg {
  background-image: url("style/sea-tile.png");
  background-position: right bottom;
  background-repeat: repeat-x;
}

/* line 16, ../sass/style.sass */
#page-bottom-bg {
  background-image: url("style/yacht.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

/* line 21, ../sass/style.sass */
pre {
  background: lightgrey;
  font-family: sans-serif;
  font-size: 12px;
  border: solid 1px grey;
  padding: 5px;
}

/* line 28, ../sass/style.sass */
.section {
  z-index: 1;
}

/* line 32, ../sass/style.sass */
#page {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 37, ../sass/style.sass */
#Header1 {
  background-image: url("style/logo.png");
  background-repeat: no-repeat;
  height: 150px;
  padding-left: 150px;
}
/* line 43, ../sass/style.sass */
#Header1 #header-inner {
  background-image: url("style/plane.png");
  background-position: right 20px;
  background-repeat: no-repeat;
  height: 150px;
}

/* line 49, ../sass/style.sass */
#Blog1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
}
/* line 147, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #Blog1 {
  overflow-x: hidden;
}
/* line 52, ../sass/style.sass */
#Blog1 .date-outer {
  margin-bottom: 10px;
  padding: 10px;
  background: white;
}

/* line 57, ../sass/style.sass */
#Profile1 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 147, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #Profile1 {
  overflow-x: hidden;
}

/* line 60, ../sass/style.sass */
#BlogArchive1 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 147, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #BlogArchive1 {
  overflow-x: hidden;
}

/* line 63, ../sass/style.sass */
#footer {
  clear: both;
  display: block;
  height: 400px;
  margin-top: -300px;
  z-index: 1;
}

/* line 71, ../sass/style.sass */
#sea {
  height: 64px;
  background-image: url("style/sea-tile.png");
  margin-top: -64px;
  z-index: -1;
  position: absolute;
  width: 100%;
}
